* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Navbar */
.appBar {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 70px;
  background-color: rgb(230, 27, 213);
  padding: 5px 30px;
}

.appTitle {
  font-size: 25px;
}

.logo {
  color: #fff;
}

/* .checkbox {
  display: block;
} */

/* .appSearch {
  display: flex;
  flex-wrap: wrap;
} */

.appLabels {
  font-size: 20px;
  margin-left: 20px;
}

.appInput {
  padding: 3px;
  border-radius: 4px;
  outline: none;
  border: #fff 1px solid;
}

@media screen and (max-width: 1009px) {
  .appBar {
    height: 110px;
  }
}

@media screen and (max-width: 540px) {
  .appBar {
    height: 160px;
  }
}

@media screen and (max-width: 350px) {
  .appBar {
    height: 260px;
  }
}